<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quarry Digger</title>
    <meta name="description" content="Quarry Digger">
    
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <style>
      html,body{
        padding:0px;
        margin:0px;
        width:100%;
        height:100%;
        min-height:100%;
      }

      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Digger</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div ng-app="diggerApp">
    <ng-view></ng-view>
  </div>
</div>

<script src="<%- warehouse %>/warehouse.js"></script>
<script src="app.js"></script>
<script src="services.js"></script>
<script src="controllers.js"></script>
<script src="searchBar/index.js"></script>
<script src="tree/index.js"></script>
<script src="viewer/index.js"></script>

</body>
</html>
