<%
	page.set({
		"menu":[
			{
				title:"Home",
				link:"/",
				active:true
			},
			{
				title:"What is it?",
				link:"/about"
			},
			{
				title:"How much is it?",
				link:"/pricing"
			},
			{
				title:"FAQs",
				link:"/faqs"
			}
		],
		"heading":"Hosting 2.0",
		"strapline":"Industrial grade; Spend less time and make more money...",
		"share":true
	});
	
%>
          <!--left col-->
          <div class="span10">


          <!--welcome-->
          <div class="alert-message block-message warning">      
              <p><img src="img/digger_small.jpg" style="float:left;margin-right:20px;background-color:#fff;padding:2px;border:1px solid #e5e5e5;" /><strong>Welcome to the very first quarry...</strong><br /><br />
              	I should be programming right now so will resist the urge to
              	go on a copywriting spree - <span style="text-decoration:line-through;">that can come later</span> <small>Rodney made me do it</small>.<br /><br />
              	If you would thank you please register on the right hand side.
              </p>
          </div>
          <!--end welcome-->

                  
        <p>
        	<a href="http://facebook.com/quarryjs"><img src="img/facebook.png" border=0 /></a>
        	<a href="http://twitter.com/quarryjs"><img src="img/twitter.gif" border=0 /></a>
        </p>

        <!--notice-->
        <div class="well">
          <p>'My blinkin spade has snapped again!'.  Rodney could be heard right across the quarry - his voice brimming with digust
          	as yet another spade had snapped under the repetitive strain of digging for gem-stones.
          	<br /><br />
          	Rodney wished it was like the good old days - where all a customer wanted was a bag of sand and his trusty spade would
          	chomp through jobs like no tomorrow.
          	<br /><br />
          	These days customers were wanting a whole host of varied and new elements - sometimes even on the same contract!
          	<br /><br />
          	Rodneys spade was just not cut out to be digging for these exotic and sometimes radioactive elements - really, Rodneys
          	spade was past it's best when sand stopped being the de-facto quarry export.
          	<br /><br />
          	Rodney dosn't just need a new spade but a whole new quarry to work in.
          	<br /><br />
          	quarry.js will provide Rodney with:
          	
          		<ul>
          		<li><b>An Army of digging robots</b> - yes thats right - Rodney does not even do the digging in quarry.js, he commands an army of
          		robots to do the digging for him</li><br />
          		<li><b>Spectral analysis machine</b> - Rodney can use this to analyse exactly what elements are in the ground</li><br />
          		
          		<li><b>Element Processing Plant</b> - Rodney can use as many plants as he wants to turn raw elements into beautiful things
          	like GemStones (the value of which are MUCH higher than raw elements).</li><br />
          		<li><b>Portals</b> - portals keep Rodney gem stones up to date and real time</li><br />
          		<li><b>Warehouse dispatching and shipping</b> - quarry.js is connected to lots of other quarries around the world, Rodney
          			can dispatch an order to the warehouse and it will arrange the shipping containers to fetch the elements from
          			the other quarries (like the Facebook quarry or Twitter quarry)</li>
          		
          		</ul>
          	
          	Rodney would be a fool to keep using just his spade!
          	
          	</p>
        </div>


          </div>
          <!--end col-->



          <!--right col-->
          <div class="span4">

<%- partial("connect") %>


          </div>
          <!--end col-->