<!DOCTYPE html>
<html lang="en" ng-app="diggerApp" id="top">
<head>
    <meta charset="utf-8">
    <title>Quarry Digger</title>
    <meta name="description" content="Quarry Digger">
    
    
    
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <div class="dropdown pull-left">
        <a class="brand dropdown-toggle" role="button" data-toggle="dropdown" href="#"> 
          Digger
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="https://github.com/angular-ui/"><strong>Related Projects:</strong></a></li>
          <li class="divider"></li>
          <li><a href="help">Help</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
           <li>
               <a href="#" role="button" class="dropdown-toggle">
                   Project <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   
                   <li><a href="#accordion">New</a></li>
                   
                   <li><a href="#alert">Open</a></li>
                   
               </ul>
           </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div style="margin: 32px;"></div>
<div role="main">
this is the main page
</div>
<footer class="footer">
    <div class="container">
        this is the footer
    </div>
</footer>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="<%- path %>/bootstrap/ui.bootstrap.js"></script>

</body>
</html>
